@import "tailwindcss";

@font-face {
  font-family: Inter;
  src: url("/assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

:root {
  --background: #fefdf9;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #fefdf9;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
}
